.container {
  position: relative;
}

.title {
  margin: 1.75rem 0 1.25rem;
  padding-top: 2.5rem;
  color: #895b4a;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}

.link {
  position: absolute;
  bottom: 0;
  color: #895b4a;
  font-weight: 300;
  font-style: italic;
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;
}

.shown {
  display: inline-block;
}

.hidden {
  display: none;
}

.icon {
  display: inline-block;
  width: 0.75rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 415px) {
  .link {
    width: 100%;
  }

  .label {
    display: none;
  }

  .icon {
    margin-left: 25%;
    margin-bottom: 0.5rem;
  }
}
