html, body {
 padding: 0;
 margin: 0;
 font-family: 'Lato', sans-serif;
     }

.navbar-bg {
     background-color:  #706D6C;
}
.font-logo {
     font-family: 'News Cycle', sans-serif; 
}
.logo {
width: 238px;
height: 145px;
}
.nav-full {
     height: 137px;
}
.nav-small {
     height: 70px;
}


  